@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe'); 

body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	color: #222;
	font-size: calc(10px + 2vmin);
	font-family: 'ZCOOL KuaiLe', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p, b {
	margin: 0;
}

p, h2 {
	padding-bottom: 1rem;
}

header {
	flex: 1;
	background-color: white;
	margin: 0;
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
	flex: 2;
	margin: 0;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

main > nav {
	width: 100%;
	max-width: 768px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

input, button, .nav-button {
	font-family: 'ZCOOL KuaiLe', sans-serif;
	font-size: calc(10px + 2vmin);
	border: 3px solid #333;
	background-color: white;
	padding: 1rem;
	outline: 0;
	text-decoration: none;
	color: #222;
}

button, .nav-button {
	text-align: center;
}

input[type=text],input[type=number] {
	width: calc(100% - 2rem);
	margin-bottom: 0.5rem;
}

a {
	color: palevioletred;
	text-decoration-style: dashed;	
}

em {
	color: palevioletred;
}

.flex-wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 568px) {
	main {
		justify-content: center;
	}
	.flex-wrapper {
		flex-direction: row;
	}
	.container {
		padding: 0 1rem;
	}
}

.allergies {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
	margin-bottom: 1rem;
  }

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wobbler {
	animation: wobble infinite 2s ease;
	pointer-events: none;
}

.logo {
	margin: 0 auto; 
	width: 38vmin;
}

form {
	max-width: 600px;
}

@keyframes wobble {
	0% {transform: scale(1) rotate(0deg);}
	25% {transform: scale(0.95) rotate(2deg);}
	50% {transform: scale(1.05) rotate(0deg);}
	75% {transform: scale(0.95) rotate(-2deg);}
	100% {transform: scale(1) rotate(0deg);}
}
